--
-- PostgreSQL database dump
--

\restrict eo81TrbSafSvsBgzgrZCqjorfvHPLIl0emoHr2ibhWdEAj0GBOJCXEQxwuEMnk5

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: animals; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.animals (
    id integer NOT NULL,
    "group" integer NOT NULL,
    name text NOT NULL,
    numbers text[] NOT NULL
);


ALTER TABLE public.animals OWNER TO pixbet;

--
-- Name: animals_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.animals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.animals_id_seq OWNER TO pixbet;

--
-- Name: animals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.animals_id_seq OWNED BY public.animals.id;


--
-- Name: bets; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.bets (
    id integer NOT NULL,
    user_id integer NOT NULL,
    animal_id integer,
    animal_id_2 integer,
    animal_id_3 integer,
    animal_id_4 integer,
    animal_id_5 integer,
    amount real NOT NULL,
    type text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    draw_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    win_amount real,
    game_mode_id integer,
    potential_win_amount real,
    bet_numbers text[],
    premio_type text DEFAULT '1'::text,
    use_bonus_balance boolean DEFAULT false
);


ALTER TABLE public.bets OWNER TO pixbet;

--
-- Name: bets_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.bets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bets_id_seq OWNER TO pixbet;

--
-- Name: bets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.bets_id_seq OWNED BY public.bets.id;


--
-- Name: draws; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.draws (
    id integer NOT NULL,
    name text NOT NULL,
    "time" text NOT NULL,
    date timestamp with time zone NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    result_animal_id integer,
    result_animal_id_2 integer,
    result_animal_id_3 integer,
    result_animal_id_4 integer,
    result_animal_id_5 integer,
    result_number_1 text,
    result_number_2 text,
    result_number_3 text,
    result_number_4 text,
    result_number_5 text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.draws OWNER TO pixbet;

--
-- Name: draws_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.draws_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.draws_id_seq OWNER TO pixbet;

--
-- Name: draws_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.draws_id_seq OWNED BY public.draws.id;


--
-- Name: game_modes; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.game_modes (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    odds integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.game_modes OWNER TO pixbet;

--
-- Name: game_modes_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.game_modes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.game_modes_id_seq OWNER TO pixbet;

--
-- Name: game_modes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.game_modes_id_seq OWNED BY public.game_modes.id;


--
-- Name: payment_gateways; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.payment_gateways (
    id integer NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    api_key text,
    secret_key text,
    sandbox boolean DEFAULT true NOT NULL,
    config jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payment_gateways OWNER TO pixbet;

--
-- Name: payment_gateways_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.payment_gateways_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payment_gateways_id_seq OWNER TO pixbet;

--
-- Name: payment_gateways_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.payment_gateways_id_seq OWNED BY public.payment_gateways.id;


--
-- Name: payment_transactions; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.payment_transactions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    gateway_id integer NOT NULL,
    amount real NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    external_id text,
    external_url text,
    gateway_response jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    type text DEFAULT 'deposit'::text NOT NULL
);


ALTER TABLE public.payment_transactions OWNER TO pixbet;

--
-- Name: payment_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.payment_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payment_transactions_id_seq OWNER TO pixbet;

--
-- Name: payment_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.payment_transactions_id_seq OWNED BY public.payment_transactions.id;


--
-- Name: session; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.session (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.session OWNER TO pixbet;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.system_settings (
    id integer NOT NULL,
    max_bet_amount real NOT NULL,
    max_payout real NOT NULL,
    min_bet_amount real DEFAULT 5.0 NOT NULL,
    default_bet_amount real DEFAULT 20.0 NOT NULL,
    main_color text NOT NULL,
    secondary_color text NOT NULL,
    accent_color text NOT NULL,
    allow_user_registration boolean DEFAULT true NOT NULL,
    allow_deposits boolean DEFAULT true NOT NULL,
    allow_withdrawals boolean DEFAULT true NOT NULL,
    maintenance_mode boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    allow_bonus_bets boolean DEFAULT true NOT NULL,
    site_name text DEFAULT 'Jogo do Bicho'::text NOT NULL,
    site_description text DEFAULT 'A melhor plataforma de apostas online'::text NOT NULL,
    logo_url text DEFAULT '/img/logo.png'::text NOT NULL,
    favicon_url text DEFAULT '/img/favicon.png'::text NOT NULL,
    signup_bonus_enabled boolean DEFAULT false NOT NULL,
    signup_bonus_amount numeric(15,2) DEFAULT 10 NOT NULL,
    signup_bonus_rollover numeric(15,2) DEFAULT 3 NOT NULL,
    signup_bonus_expiration integer DEFAULT 7 NOT NULL,
    first_deposit_bonus_enabled boolean DEFAULT false NOT NULL,
    first_deposit_bonus_amount numeric(15,2) DEFAULT 100 NOT NULL,
    first_deposit_bonus_percentage numeric(15,2) DEFAULT 100 NOT NULL,
    first_deposit_bonus_max_amount numeric(15,2) DEFAULT 200 NOT NULL,
    first_deposit_bonus_rollover numeric(15,2) DEFAULT 3 NOT NULL,
    first_deposit_bonus_expiration integer DEFAULT 7 NOT NULL,
    promotional_banners_enabled boolean DEFAULT false NOT NULL
);


ALTER TABLE public.system_settings OWNER TO pixbet;

--
-- Name: system_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.system_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_settings_id_seq OWNER TO pixbet;

--
-- Name: system_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.system_settings_id_seq OWNED BY public.system_settings.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type text NOT NULL,
    amount real NOT NULL,
    description text,
    related_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transactions OWNER TO pixbet;

--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transactions_id_seq OWNER TO pixbet;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: user_bonuses; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.user_bonuses (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type text NOT NULL,
    amount numeric(10,2) NOT NULL,
    remaining_amount numeric(10,2) NOT NULL,
    rollover_amount numeric(10,2) NOT NULL,
    rolled_amount numeric(10,2) DEFAULT 0 NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    expires_at timestamp with time zone,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    related_transaction_id integer
);


ALTER TABLE public.user_bonuses OWNER TO pixbet;

--
-- Name: user_bonuses_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.user_bonuses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_bonuses_id_seq OWNER TO pixbet;

--
-- Name: user_bonuses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.user_bonuses_id_seq OWNED BY public.user_bonuses.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: pixbet
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    email text,
    name text,
    balance real DEFAULT 0.0 NOT NULL,
    is_admin boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    cpf text,
    default_pix_key text,
    default_pix_key_type text,
    blocked boolean DEFAULT false NOT NULL,
    block_reason text
);


ALTER TABLE public.users OWNER TO pixbet;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: pixbet
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO pixbet;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pixbet
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: animals id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.animals ALTER COLUMN id SET DEFAULT nextval('public.animals_id_seq'::regclass);


--
-- Name: bets id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets ALTER COLUMN id SET DEFAULT nextval('public.bets_id_seq'::regclass);


--
-- Name: draws id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.draws ALTER COLUMN id SET DEFAULT nextval('public.draws_id_seq'::regclass);


--
-- Name: game_modes id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.game_modes ALTER COLUMN id SET DEFAULT nextval('public.game_modes_id_seq'::regclass);


--
-- Name: payment_gateways id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.payment_gateways ALTER COLUMN id SET DEFAULT nextval('public.payment_gateways_id_seq'::regclass);


--
-- Name: payment_transactions id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.payment_transactions ALTER COLUMN id SET DEFAULT nextval('public.payment_transactions_id_seq'::regclass);


--
-- Name: system_settings id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.system_settings ALTER COLUMN id SET DEFAULT nextval('public.system_settings_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: user_bonuses id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.user_bonuses ALTER COLUMN id SET DEFAULT nextval('public.user_bonuses_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: animals; Type: TABLE DATA; Schema: public; Owner: pixbet
--



--
-- Data for Name: bets; Type: TABLE DATA; Schema: public; Owner: pixbet
--



--
-- Data for Name: draws; Type: TABLE DATA; Schema: public; Owner: pixbet
--



--
-- Data for Name: game_modes; Type: TABLE DATA; Schema: public; Owner: pixbet
--



--
-- Data for Name: payment_gateways; Type: TABLE DATA; Schema: public; Owner: pixbet
--

COPY public.payment_gateways (id, name, type, is_active, api_key, secret_key, sandbox, config, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payment_transactions; Type: TABLE DATA; Schema: public; Owner: pixbet
--

COPY public.payment_transactions (id, user_id, gateway_id, amount, status, external_id, external_url, gateway_response, created_at, updated_at, type) FROM stdin;
\.


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: pixbet
--

COPY public.session (sid, sess, expire) FROM stdin;
1YeBdBXPleVNHkAerYCWrDXpVrprJh9S	{"cookie":{"originalMaxAge":86399999,"expires":"2025-12-04T21:23:22.578Z","secure":false,"httpOnly":true,"path":"/","sameSite":"lax"},"passport":{"user":1}}	2025-12-04 22:10:46
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: pixbet
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: pixbet
--

COPY public.transactions (id, user_id, type, amount, description, related_id, created_at) FROM stdin;
1	1	bet	-10	Aposta em dozen - 6	6	2025-12-03 21:38:22.203
2	1	bet	-5	Aposta em hundred - 7	7	2025-12-03 21:38:43.955
3	1	bet	-5	Aposta em group - 8	8	2025-12-03 21:57:59.735
\.


--
-- Data for Name: user_bonuses; Type: TABLE DATA; Schema: public; Owner: pixbet
--

COPY public.user_bonuses (id, user_id, type, amount, remaining_amount, rollover_amount, rolled_amount, status, expires_at, completed_at, created_at, related_transaction_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pixbet
--

COPY public.users (id, username, password, email, name, balance, is_admin, created_at, cpf, default_pix_key, default_pix_key_type, blocked, block_reason) FROM stdin;
1	admin	0382d59076abb1eef9bf9895b370e4f4c183ee29547fb78254fbe2ac15d0867aee75d4a971c04d264ca2134ab5444a814773f501f3b9ed18b26c327ebc60cb96.4a8ebd5fbf2ea026611222ff88e0ab1c	admin@sistema.com	Administrador	9895	t	2025-12-03 21:09:20.827028+00	\N	\N	\N	f	\N
\.


--
-- Name: animals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.animals_id_seq', 25, true);


--
-- Name: bets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.bets_id_seq', 8, true);


--
-- Name: draws_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.draws_id_seq', 12, true);


--
-- Name: game_modes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.game_modes_id_seq', 12, true);


--
-- Name: payment_gateways_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.payment_gateways_id_seq', 1, false);


--
-- Name: payment_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.payment_transactions_id_seq', 1, false);


--
-- Name: system_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.system_settings_id_seq', 1, true);


--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.transactions_id_seq', 3, true);


--
-- Name: user_bonuses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.user_bonuses_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pixbet
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: animals animals_group_key; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.animals
    ADD CONSTRAINT animals_group_key UNIQUE ("group");


--
-- Name: animals animals_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.animals
    ADD CONSTRAINT animals_pkey PRIMARY KEY (id);


--
-- Name: bets bets_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_pkey PRIMARY KEY (id);


--
-- Name: draws draws_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.draws
    ADD CONSTRAINT draws_pkey PRIMARY KEY (id);


--
-- Name: game_modes game_modes_name_key; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.game_modes
    ADD CONSTRAINT game_modes_name_key UNIQUE (name);


--
-- Name: game_modes game_modes_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.game_modes
    ADD CONSTRAINT game_modes_pkey PRIMARY KEY (id);


--
-- Name: payment_gateways payment_gateways_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.payment_gateways
    ADD CONSTRAINT payment_gateways_pkey PRIMARY KEY (id);


--
-- Name: payment_transactions payment_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_pkey PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: user_bonuses user_bonuses_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.user_bonuses
    ADD CONSTRAINT user_bonuses_pkey PRIMARY KEY (id);


--
-- Name: users users_cpf_key; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_cpf_key UNIQUE (cpf);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: pixbet
--

CREATE INDEX "IDX_session_expire" ON public.session USING btree (expire);


--
-- Name: bets bets_animal_id_2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_animal_id_2_fkey FOREIGN KEY (animal_id_2) REFERENCES public.animals(id);


--
-- Name: bets bets_animal_id_3_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_animal_id_3_fkey FOREIGN KEY (animal_id_3) REFERENCES public.animals(id);


--
-- Name: bets bets_animal_id_4_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_animal_id_4_fkey FOREIGN KEY (animal_id_4) REFERENCES public.animals(id);


--
-- Name: bets bets_animal_id_5_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_animal_id_5_fkey FOREIGN KEY (animal_id_5) REFERENCES public.animals(id);


--
-- Name: bets bets_animal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_animal_id_fkey FOREIGN KEY (animal_id) REFERENCES public.animals(id);


--
-- Name: bets bets_draw_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_draw_id_fkey FOREIGN KEY (draw_id) REFERENCES public.draws(id);


--
-- Name: bets bets_game_mode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_game_mode_id_fkey FOREIGN KEY (game_mode_id) REFERENCES public.game_modes(id);


--
-- Name: bets bets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.bets
    ADD CONSTRAINT bets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payment_transactions payment_transactions_gateway_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_gateway_id_fkey FOREIGN KEY (gateway_id) REFERENCES public.payment_gateways(id);


--
-- Name: payment_transactions payment_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_bonuses user_bonuses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pixbet
--

ALTER TABLE ONLY public.user_bonuses
    ADD CONSTRAINT user_bonuses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict eo81TrbSafSvsBgzgrZCqjorfvHPLIl0emoHr2ibhWdEAj0GBOJCXEQxwuEMnk5

